
            .banner {
            
                position: absolute;
                z-index: 15000;
                padding-top: 20px;
                padding-left:60px;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
                display: none;
                width: 450px;
                height: 150px;
            }

            .banner.active {
                display: block;
            }


            .alert-primary {
                color: red;
                background-color: white;
                border-color: black;

            }

            #stopRec{
                margin-left: 10px;
            }
            .floatLeft{
                float: left;
            }
            #addTextBtn{
                width: 70px;
                height: 40px;
                margin-left:20px;
            }
    