#printDocContainer{
			margin-top: 20px;
			}
		#submitBtn{
				margin-left: 20px;
			}
		#uniqueDocField{
			float: left;
			width: 320px;
			
			}
			h3{
				margin-bottom: 30px;
			}
		#replyDiv{
			margin-top: 30px;
		}