{% extends 'index.html' %}

{% block head %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
{% endblock %}
{% block body %}
      <!--<div id="container"  class="banner banner-top alert-primary active" role="alert">-->
      <div id="container" class="">
         <form id='myform' enctype="multipart/form-data" method="post" >
            <h2>Select your file</h2>
            <input type="file" style="width: 400px; background-color: white" class="form-control-sm form-control" id="fileUpload" /><br>
            <br>
            <input class="btn btn-outline-danger" type="button" value="Upload" id="uploadFile">
         </form>
         
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">
      </script>
      <script src="{{ url_for('static', filename='upload-doc.js')}}"></script> 
      
{% endblock %}